
.container{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction:column ;
    text-align: center;
    width: 90%;
     
}

@media (max-width: 270px){
    .container {
        margin: 100%;}
    }